/* main styles */
body {
	font-family: Arial, Verdana;
	background-image: url("../Images/emerald.gif");
}
	
#site{
	max-width: 90%;
  	min-width: 60%;
	margin: 0 auto; 
	border-style: ridge;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #777777;
	background-color: #fff
}

/* font face for the header */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* header styles */
h1 {
	font-size: 2.83em;
	font-family: Pacifico, Impact, Courier;
	color: #bf3030;
	text-align: center;
  	text-shadow: 1px 1px 3px #666666;
	opacity: 0.8;
}

/* navigation */
ul.nav {
	list-style-type: none; 
	text-align: center;
}

a:link {
	color: #1d5e2b;
	text-decoration: none;
	display: inline;
}

a:visited {
	color: #15a034;
}

a:hover {
	color: #063410;
}

a:active {
	color: #cdf8d7;
}

/* quote */
blockquote {
	font-size: 1.25em;
	font-family: "Courier New", Courier;
	text-align:center; 
	margin: 1.5%;
}

p.name {
	font-size: 1.25em;
	font-family: 'Courier New', Courier;
	font-style: italic;
	text-align: center;
	line-height: 1.5em;
}

/* introduction */
p.one {
	text-align: center;
}

/* h2, h3*/
h2, h3 {
	font-weight: bold;
	color: #bf3030;
	padding-left: 16px;
}

#history, #images{
	background-image: url("../Images/italian-flag.png");
	background-repeat: no-repeat;
	margin: 2px;
	padding: 15px 10px 5px 60px;
}
#column1{
	float: left;
	width: 50%;
	margin: 3em;
}

#column2{
	float: right;
	width: 30%;
	background: linear-gradient(to bottom, rgba(28,168,0,1) 0%,rgba(119,255,109,1) 100%);
	margin: 3em;
	border: 3px solid #e66a61;
	border-radius: 10px;
}

/* paragraph */
p {
	padding-left: 20px;
}

/* ordered list styles */
ol {
	list-style-type: upper-roman;
	text-align: left;
}

/* image borders and links */
a.spaghetti, a.lasagna, a.gelato:link{
	border: 3px solid #0c5500;
	width: 450px;
	height: 300px;
	display: block; 
}

a.spaghetti:visited {
	border: 3px solid #000000
}

a.lasagna:visited {
	border: 3px solid #000000
} 

a.gelato:visited {
	border: 3px solid #000000
}

a.spaghetti:hover {
	border: 3px solid #bf3030;
}

a.lasagna:hover {
	border: 3px solid #bf3030;
}

a.gelato:hover {
	border: 3px solid #bf3030;
}

a.spaghetti:active {
	border: 3px solid #cdf8d7;
}
 
a.lasagna:active {
	border: 3px solid #cdf8d7;
}

a.gelato:active {
	border: 3px solid #cdf8d7;
}

/* footer styles */
#footer {
	font-size: 0.75em;
	font-family: 'Courier New', Courier;
	text-align: right;
	clear: both;
}



