body {
	font-family: Arial, Verdana;
	background-color: #0c5500;
}

#site {
	max-width: 940px;
  	min-width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-style: ridge;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #777777;
	background-color: #fff
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

ul.nav {
	list-style-type: none; 
	text-align: center;
}

p.name {
	font-size: 20px;
	font-family: 'Courier New', Courier;
	font-style: italic;
	text-align: center;
	line-height: 1.5em;
}

h1 {
	font-size: 45px;
	font-family: Pacifico, Impact, Courier;
	color: #bf3030;
	text-align: center;
  	text-shadow: 1px 1px 3px #666666;
	opacity: 0.8;
}

h2, h3 {
	font-weight: bold;
	color: #bf3030;
}

blockquote {
	font-size: 20px;
	font-family: "Courier New", Courier;
	text-align:center; 
  	display: block;
	margin: 2px;
}

p.one {
	text-align: center;
}

a:link {
	color: #1d5e2b;
	text-decoration: none;
}

a:visited {
	color: #15a034;
}

a:hover {
	color: #063410;
}

a:active {
	color: #cdf8d7;
}

ol {
	list-style-type: upper-roman;
}

h2.images {
	text-align: center;
}

a.spaghetti {
	border: 3px solid #0c5500;
	width: 450px;
	height: 300px;
	display: block; 
}

footer {
	font-size: 12px;
	font-family: 'Courier New', Courier;
	text-align: right;
}



