body {
	font-family: Arial, Verdana;
	background-color: #ededed;
}

h1 {
	font-size: 45px;
	font-family: Impact, Courier;
	color: #bf3030;
}

a:link {
	color: #1d5e2b;
	text-decoration: none;
}

a:visted {
	color: #000000;
}

a:hover {
	color: #063410;
}

a:active {
	color: #37ab50;
}
