<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby West</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<header>
		<h1>Rollover Images with Description</h1>
	</header>
	<!-- Component -->
	<section class="imgs">
		<section class="picture">
			<img src="kiwi.jpg" alt="kiwis">
			<article>
					<h2>Kiwi</h2>
					<p>Kiwi is a popular tropical fruit with a furry skin and green flesh.</p>
			</article>
		<section>
		<br>
		<section class="picture">
			<img src="strawberry.jpg" alt="strawberry">
			<article>
				<h2>Strawberry</h2>
				<p>Strawberries are one of the most popular fruits that is often used in smoothies and fruit salads.</p>
			</article>
		</section>
		<br>
		<section class="picture">
			<img src="orange.jpg" alt="oranges">
			<article>
				<h2>Oranges</h2>
				<p>The orange is a very popular fruit full of vitamin c.</p>
			</article>
		</section>
	</section>

	<!-- End Component -->
	
</body>
</html>