/* Component Stylesheet 
============================================================
============================================================*/

h1{
	font:3em 'Poiret One';
	text-align: center;
	margin-top:20px;
	border-bottom:solid 2px;
}
img{
	display:inline;
	width:200px;
}
.imgs{
	overflow:hidden;
	position:relative;
	width:200px;
	margin:10px 100px;
}

article{
	background-color:#000;
	bottom:0;
	color:#fff;
	opacity:0;
	position:relative;
	width:200px;
	z-index:1000;
}

h2, p{
	padding:0 10px;

}

.kiwi:hover article{
	opacity:0.75;
	
}
