<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby West</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

	
</head>
<body>
	<header>
		<h1>Basic Form</h1>
	</header>
	<!-- Component -->
	<form>
	  <input type="text" name="fname" placeholder="First name" class="login">
	  <input type="text" name="lname" placeholder="Last name" class="lock">
	  <button>Submit</button>
	</form>

	<!-- End Component -->
	
</body>
</html>