<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby West</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<h1>Full Screen Slider</h1>
	<section class="container">
		<article class="sliderwrapper">
			<ul id="imageslider">
				<li><img src="Wallpaper1.jpg"></li>
				<li><img src="Wallpaper2.jpg"></li>
				<li><img src="Wallpaper3.jpg"></li>
			</ul>					
			<span class="nav" id="prev"></span>
			<span class="nav" id="next"></span>
		</article>
	</section>
<script type="text/javascript"src="script.js"></script>
</body>
</html>