<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Shelby West</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<h1>Image Gallery</h1>
	<section>
		<img src="baseball.jpg" alt="Baseball">
		<img src="basketball.jpg" alt="Basketball">
		<img src="football.jpg" alt="Football">
		<img src="rugby.jpg" alt="Rugby ball">
		<img src="soccer.jpg" alt="Soccer ball">
		<img src="softball.jpg" alt="Softball">
		<img src="tennis.jpg" alt="Tennis ball">
		<img src="volleyball.jpg" alt="Volleyball">
	</section>	
</body>
</html>