/* Component Stylesheet 
============================================================
============================================================*/
#one{
	background-image: url("wallpaper1.jpg");
}
#two{
	background-image: url("wallpaper2.jpg");
}

article{
	height:500px;
}
h1{
	font:3em 'Poiret One';
	text-align: center;
	margin-top:20px;
	border-bottom:solid 2px;
	color:#fff;
}

h2{
	font:3em 'Oswald';
	color:#fff;
	text-align: center;
}

p{
	font:1em 'Oswald';
	color:#fff;
	width:700px;
	margin-left:300px;
}
